@page "/Cadastro"

@using GoFast.UI.DTO;
@using GoFast.UI.Services;
@*@using BlazorInputFile*@

@inject IMotoristaService serviceMotorista
@inject IBlobService serviceBlob
@inject IJSRuntime JSRuntime
@inject IFileConverter fileUpload
@inject IWebHostEnvironment Env
@inject NavigationManager NavigationManager

<h3>Cadastro</h3>
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Documento</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                   @* <img class="img-account-profile mb-5" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">*@
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG ou PNG não pode ultrapassar 5 MB</div>
                    <!-- Profile picture upload button-->
                    <InputFile OnChange="HandleFileSelected" class="btn btn-primary" accept="image/png, image/jpg" />
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Informações do Motorista</div>
                <div class="card-body">
                    <form>
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Nome Completo</label>
                            <input id="nameMotorista" class="form-control" type="text" placeholder="Digite nome completo" @bind-value="@motoristaDTOInput.Nome" />
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEmail">Email</label>
                                <input class="form-control" id="inputEmail" type="email" placeholder="Digite seu nome" @bind-value="@motoristaDTOInput.Email" />
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputDataNascimento">Data Nascimento</label>
                                <input class="form-control" id="inputDataNascimento" type="date" placeholder="Insira seu nascimnto" @bind-value="@motoristaDTOInput.Nascimento" />
                            </div>
                        </div>

                        <div class="card-header">Informações do Documento</div>

                        <div class="row gx-3 mb-3">
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputTipoDocumento">Tipo Documento</label>
                                <select class="form-control" name="inputTipoDocumento" id="inputTipoDocumento">
                                    <option value="0">CPF</option>
                                    <option value="1">CNPJ</option>
                                    <option value="2">Carteira_Motorista</option>
                                    <option value="3">Passaporte</option>
                                    <option value="4">Renavam</option>
                                    <option value="5">IPVA</option>
                                    <option value="6">Laudo_Cautelar</option>
                                </select>
                            </div>
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputNumeroDocumento">Número</label>
                                <input class="form-control" id="inputNumeroDocumento" type="text" placeholder="XXX-XXX-XXX-XX" @bind-value="@motoristaDTOInput.Carro.DocumentoCarro.Numero" />
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputDataExpedicao">Data Expedição</label>
                                <input class="form-control" id="inputDataExpedicao" type="date" placeholder="Insira a expedicao" @bind-value="@motoristaDTOInput.Carro.DocumentoCarro.Expedicao" />
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputDataRenovacao">Data Renovação</label>
                                <input class="form-control" id="inputDataRenovacao" type="date" placeholder="Insira a renovação" @bind-value="@motoristaDTOInput.Carro.DocumentoCarro.Renovacao" />
                            </div>
                        </div>

                        <div class="card-header">Informações de Endereço</div>

                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputRua">Rua</label>
                                <input class="form-control" id="inputRua" type="text" placeholder="Digite sua rua" @bind-value="@motoristaDTOInput.Endereco.Rua" />
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputNumero">Numero</label>
                                <input class="form-control" id="inputNumero" type="number" placeholder="Digite o número" @bind-value="@motoristaDTOInput.Endereco.Numero" />
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCEP">CEP</label>
                                <input class="form-control" id="inputCEP" type="text" placeholder="Digite seu CEP" @bind-value="@motoristaDTOInput.Endereco.CEP" />
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBairro">Bairro</label>
                                <input class="form-control" id="inputBairro" type="text" placeholder="Digite o bairro" @bind-value="@motoristaDTOInput.Endereco.Bairro" />
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputCidade">Cidade</label>
                                <input class="form-control" id="inputCidade" type="text" placeholder="Digite sua Cidade" @bind-value="@motoristaDTOInput.Endereco.Cidade" />
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputEstado">Estado</label>
                                <input class="form-control" id="inputEstado" type="text" placeholder="Digite o Estado" @bind-value="@motoristaDTOInput.Endereco.Estado" />
                            </div>
                        </div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputComplemento">Complemento</label>
                            <input class="form-control" id="inputComplemento" type="text" placeholder="Digite o Complemento" @bind-value="@motoristaDTOInput.Endereco.Complemento" />
                        </div>

                        <div class="card-header">Informações do Carro</div>

                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputPlaca">Placa</label>
                                <input class="form-control" id="inputPlaca" type="text" placeholder="Digite sua placa" @bind-value="@motoristaDTOInput.Carro.Placa" />
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputModelo">Modelo</label>
                                <input class="form-control" id="inputModelo" type="text" placeholder="Digite o modelo" @bind-value="@motoristaDTOInput.Carro.Modelo" />
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputAnoFabricacao">Ano De Fabricação</label>
                                <input class="form-control" id="inputAnoFabricacao" type="date" placeholder="Insira o ano de fabricação" @bind-value="@motoristaDTOInput.Carro.AnoFabricacao" />
                            </div>
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button" @onclick="CadastrarMotorista">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    //IFileListEntry arquivo;

    public string arquivoBase64;

    public MotoristaDTO motoristaDTOInput = new MotoristaDTO("", "", DateTime.Now, new EnderecoDTO("", 0, "", "", "", "", ""), new CarroDTO("", "", DateTime.Now, new DocumentoCarroDTO(DateTime.Now)), new BlobDTO());

    async void CadastrarMotorista()
    {
        if (arquivoBase64 == string.Empty || arquivoBase64 == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Necessario realizar o Upload do documento!");
        }
        else
        {
            motoristaDTOInput.Blob.imagemBase64 = arquivoBase64;
            var idMotorista = await serviceMotorista.Create(motoristaDTOInput);

            await JSRuntime.InvokeVoidAsync("alert", "Motorista criado com sucesso!");

            NavigationManager.NavigateTo("Painel/" + idMotorista);
        }
    }

    async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        try
        {
            IBrowserFile selectedFiles = e.GetMultipleFiles().FirstOrDefault();

            if (selectedFiles != null)
            {
                //arquivoBase64 = await fileUpload.UploadAsync(selectedFiles);
                Stream stream = selectedFiles.OpenReadStream();
                MemoryStream ms = new MemoryStream();
                await stream.CopyToAsync(ms);
                stream.Close();

                var bytes = ms.ToArray();
                arquivoBase64 = Convert.ToBase64String(bytes);
                ms.Close();
            }
        }
        catch (Exception ex)
        {
        }
    }

    protected override async Task OnInitializedAsync()
    {

    }
}